<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Welcome Page</title>
</head>
<body>
	<h2>Welcome to Sign Up page</h2>
	
	<form action="/signUp" method="post">
		<label>Username </label>
		<input type="text" name="username">
		<br><br>
		<label>Email </label>
		<input type="email" name="email">
		<br><br>
		<label>Password </label>
		<input type="password" name="password">
		<br><br>
		<label>Gender </label>
		<input type="radio" name="gender" value="male">Male
		<input type="radio" name="gender" value="female">Female
		<input type="radio" name="gender" value="other">Other
		<br><br>
		<input type="submit" value="LOGIN">
	</form>
	
</body>
</html>