<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Student Details</title>
</head>
<body>
	<h1>Student Details</h1>
	
	<table border=1>
		<thead>
			<tr>
				<th>Roll</th>
				<th>Name</th>
				<th>Branch</th>
				<th>YOP</th>
				<th>CGPA</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each = "st:${studentList}">
				<td th:text = "${st.roll}"></td>
				<td th:text = "${st.name}"></td>
				<td th:text = "${st.branch}"></td>
				<td th:text = "${st.yop}"></td>
				<td th:text = "${st.cgpa}"></td>
			</tr>
		</tbody>
	</table>
</body>
</html>