<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Student Management</title>
    <style>
        .button {
            display: inline-block;
            padding: 10px 20px;
            margin: 5px;
            font-size: 16px;
            text-align: center;
            color: white;
            background-color: #007BFF;
            border: none;
            border-radius: 5px;
            text-decoration: none;
        }
        .button:hover {
            background-color: #0056b3;
        }
    </style>
</head>
<body>
	<a href="add-student.html" class="button">ADD Student</a>
    <a href="search-student.html" class="button">SEARCH Student</a>
    <a href="view-all-students.html" class="button">VIEW ALL Students</a>
    <a href="update-student.html" class="button">UPDATE Student</a>
    <a href="delete-student.html" class="button">DELETE Student</a>
</body>
</html>