<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Student Management</title>
    <style>
        .button {
            display: inline-block;
            padding: 10px 20px;
            margin: 5px;
            font-size: 16px;
            text-align: center;
            color: white;
            background-color: #007BFF;
            border: none;
            border-radius: 5px;
            text-decoration: none;
        }
        .button:hover {
            background-color: #0056b3;
        }
    </style>
</head>
<body>
	<h2>Student Management System</h2>
	
	<a href="/openAddStudentPage" class="button">ADD Student</a> <br><br>
	<a href="/openUpdateStudentPage" class="button">UPDATE Student</a> <br><br>
	<a href="/openDeleteStudentPage" class="button">DELETE Student</a> <br><br>
	<a href="/deleteAllStudents" class="button">DELETE all Students</a> <br><br>
    <a href="/openSearchStudentPage" class="button">SEARCH Student</a> <br><br>
    <a href="/getAllStudent" class="button">VIEW ALL Students</a> <br><br>
</body>
</html>